[include macros.cfg]
[include mainsail.cfg]
[include LED_status.cfg]
[include KAMP_Settings.cfg]
#######################################
#             PROBE    #Stealthburner      
#######################################
[bltouch]
sensor_pin: ^PB12 #pins for extended board c 
control_pin: PB13 #pins for extended board c
#z_offset: 0
x_offset: 0
y_offset: 19
samples: 2
sample_retract_dist: 5.0
speed: 3

############################################
# Stepper
############################################

[stepper_x]
step_pin: PC2
dir_pin: PB9
enable_pin: !PC3
microsteps: 16
rotation_distance: 40
endstop_pin: !PA7
position_min: -2
position_endstop: -2
position_max: 260
homing_speed: 40.0

[stepper_y]
step_pin: PB8
dir_pin: PB7
enable_pin: !PC13
microsteps: 16
rotation_distance: 32
endstop_pin: !PC5
position_min: -19
position_endstop: -19
position_max: 244
homing_speed: 40.0

[stepper_z]
step_pin: PB6
dir_pin: !PB5
enable_pin: !PC14
microsteps: 16
rotation_distance: 8
endstop_pin: probe:z_virtual_endstop
position_max: 240
position_min: -5
homing_speed: 40.0
second_homing_speed: 5.0

[stepper_z1]
step_pin: PC0
dir_pin: !PC1
enable_pin: !PC15
microsteps: 16
rotation_distance: 8

[safe_z_home]
home_xy_position: 122.5, 100
speed: 150.0
z_hop: 5

[extruder]
step_pin: PB4
dir_pin: !PB3
enable_pin: !PA15
microsteps: 16
rotation_distance: 22.5655  #has to calibrate
gear_ratio: 50:10
full_steps_per_rotation: 200
nozzle_diameter: 0.400
filament_diameter: 1.750
heater_pin: PA1
#sensor_type: ATC Semitec 104GT-2 #most V6 Clones
sensor_type: ATC Semitec 104NT-4-R025H42G #revo micro
sensor_pin: PC4
min_temp: 10
max_temp: 300
max_extrude_cross_section: 50.0
pressure_advance: 0.042
pressure_advance_smooth_time: 0.04

############################################
# Features
############################################

[exclude_object]

[firmware_retraction]
retract_length: 1
#   The length of filament (in mm) to retract when G10 is activated,
#   and to unretract when G11 is activated (but see
#   unretract_extra_length below). The default is 0 mm.
retract_speed: 30
#   The speed of retraction, in mm/s. The default is 20 mm/s.
#unretract_extra_length: 0
#   The length (in mm) of *additional* filament to add when
#   unretracting.
unretract_speed: 15
#   The speed of unretraction, in mm/s. The default is 10 mm/s.


############################################
# FANS
############################################

[heater_fan extruder_fan]
pin: PB1

[fan]
pin: PA0

[temperature_fan Mainboard]
pin: mcu:PA14
sensor_type: temperature_mcu
max_power: 1.0
shutdown_speed: 1.0
hardware_pwm: false
kick_start_time: 0.5
off_below: 0.4
max_temp: 100
min_temp: 20
target_temp: 50
max_speed: 1.0
min_speed: 0.3
control: pid
pid_Kp: 1
pid_Ki: 1
pid_Kd: 1

############################################
# Heatbed & Mesh
############################################

[heater_bed]
heater_pin: PA4
sensor_type: EPCOS 100K B57560G104F
sensor_pin: PB0
min_temp: 0
max_temp: 110

[bed_mesh]
speed: 180
horizontal_move_z: 6
mesh_min: 10,13
mesh_max: 240, 240
probe_count: 12,12
mesh_pps: 2,2
algorithm: bicubic

############################################
# Z_TILT
############################################

[z_tilt]
z_positions:
    -36,125
    278,125
points:
    10,116
    235,116
speed: 300
horizontal_move_z: 7
retries: 10
retry_tolerance: 0.02


############################################
# LEDS
############################################

[neopixel sb_leds]
pin: PA13
chain_count: 3
color_order: GRBW #SK6812 (Options are GRBW or RGBW)
#color_order: GRB #WS2812B (Options are GRB,RGB, BRG, BGR)
initial_RED: 0.0
initial_GREEN: 0.0
initial_BLUE: 0.0
initial_WHITE: 0.0

[delayed_gcode Welcome]
initial_duration: 1.0
gcode:
    SET_LED LED=sb_leds RED=0.0 GREEN=1.0 BLUE=0.0 WHITE=0.0 INDEX=1 TRANSMIT=0
    SET_LED LED=sb_leds RED=0.0 GREEN=1.0 BLUE=0.0 WHITE=1.0 INDEX=2 TRANSMIT=0
    SET_LED LED=sb_leds RED=0.0 GREEN=1.0 BLUE=0.0 WHITE=1.0 INDEX=3 TRANSMIT=1

############################################
# sonstiges
############################################

[filament_switch_sensor runout]
pause_on_runout: True
switch_pin: PA5

#[output_pin beeper_pin]
#pin: PB15
#pwm: True
#value: 0
#shutdown_value: 0
#cycle_time: 0.001

[pwm_cycle_time beeper_pin]
pin: PB15
value: 0
shutdown_value: 0
cycle_time: 0.001

[temperature_sensor Raspi]
sensor_type: temperature_host
min_temp: 0
max_temp: 100

############################################
# MCU & Printer
############################################

[mcu]
serial: /dev/ttyUSB0
restart_method: command

[printer]
kinematics: cartesian
max_velocity: 300
max_accel: 2000            
max_z_velocity: 5
max_z_accel: 100
minimum_cruise_ratio: 0.6

#*# <---------------------- SAVE_CONFIG ---------------------->
#*# DO NOT EDIT THIS BLOCK OR BELOW. The contents are auto-generated.
#*#
#*# [heater_bed]
#*# control = pid
#*# pid_kp = 67.074
#*# pid_ki = 1.327
#*# pid_kd = 847.652
#*#
#*# [extruder]
#*# control = pid
#*# pid_kp = 33.960
#*# pid_ki = 4.620
#*# pid_kd = 62.401
#*#
#*# [bed_mesh default]
#*# version = 1
#*# points =
#*# 	0.657618, 0.698868, 0.760118, 0.811368, 0.852618, 0.853868, 0.898868, 0.875118, 0.867618, 0.816368, 0.760118, 0.710118
#*# 	0.527618, 0.612618, 0.626368, 0.658868, 0.758868, 0.731368, 0.737618, 0.765118, 0.686368, 0.653868, 0.617618, 0.546368
#*# 	0.433868, 0.455118, 0.543868, 0.600118, 0.600118, 0.640118, 0.647618, 0.637618, 0.578868, 0.563868, 0.492618, 0.416368
#*# 	0.308868, 0.342618, 0.438868, 0.471368, 0.496368, 0.526368, 0.526368, 0.536368, 0.486368, 0.457618, 0.378868, 0.342618
#*# 	0.200118, 0.265118, 0.338868, 0.385118, 0.417618, 0.402618, 0.437618, 0.415118, 0.361368, 0.346368, 0.327618, 0.256368
#*# 	0.113868, 0.172618, 0.252618, 0.286368, 0.328868, 0.316368, 0.305118, 0.333868, 0.263868, 0.226368, 0.152618, 0.117618
#*# 	0.043868, 0.108868, 0.141368, 0.212618, 0.240118, 0.235118, 0.275118, 0.275118, 0.202618, 0.138868, 0.071368, 0.017618
#*# 	-0.033632, 0.021368, 0.102618, 0.201368, 0.218868, 0.196368, 0.190118, 0.168868, 0.115118, 0.066368, -0.011132, -0.081132
#*# 	-0.133632, -0.041132, 0.041368, 0.082618, 0.178868, 0.152618, 0.127618, 0.107618, 0.050118, 0.006368, -0.034882, -0.133632
#*# 	-0.259882, -0.151132, -0.042382, 0.020118, 0.085118, 0.097618, 0.082618, 0.053868, 0.030118, -0.074882, -0.163632, -0.219882
#*# 	-0.341132, -0.262382, -0.148632, -0.077382, 0.005118, 0.010118, 0.026368, 0.022618, -0.062382, -0.136132, -0.209882, -0.249882
#*# 	-0.407382, -0.318632, -0.239882, -0.141132, -0.061132, -0.013632, -0.003632, -0.021132, -0.071132, -0.132382, -0.248632, -0.283632
#*# x_count = 12
#*# y_count = 12
#*# mesh_x_pps = 2
#*# mesh_y_pps = 2
#*# algo = bicubic
#*# tension = 0.2
#*# min_x = 10.0
#*# max_x = 239.89999999999998
#*# min_y = 13.0
#*# max_y = 239.92999999999995
#*#
#*# [bltouch]
#*# z_offset = 2.644
