[include macros.cfg]
[include mainsail.cfg]
[include LED_status.cfg]
[include KAMP_Settings.cfg]
#######################################
#             PROBE    #Stealthburner      
#######################################
[bltouch]
sensor_pin: ^PB12 #pins for extended board c 
control_pin: PB13 #pins for extended board c
#z_offset: 0
x_offset: 0
y_offset: 19
samples: 2
sample_retract_dist: 5.0
speed: 3

############################################
# Stepper
############################################

[stepper_x]
step_pin: PC2
dir_pin: PB9
enable_pin: !PC3
microsteps: 16
rotation_distance: 40
endstop_pin: !PA7
position_min: -2
position_endstop: -2
position_max: 260
homing_speed: 40.0

[stepper_y]
step_pin: PB8
dir_pin: PB7
enable_pin: !PC13
microsteps: 16
rotation_distance: 32
endstop_pin: !PC5
position_min: -19
position_endstop: -19
position_max: 244
homing_speed: 40.0

[stepper_z]
step_pin: PB6
dir_pin: !PB5
enable_pin: !PC14
microsteps: 16
rotation_distance: 8
endstop_pin: probe:z_virtual_endstop
position_max: 240
position_min: -5
homing_speed: 40.0
second_homing_speed: 5.0

[stepper_z1]
step_pin: PC0
dir_pin: !PC1
enable_pin: !PC15
microsteps: 16
rotation_distance: 8

[safe_z_home]
home_xy_position: 122.5, 100
speed: 150.0
z_hop: 5

[extruder]
step_pin: PB4
dir_pin: !PB3
enable_pin: !PA15
microsteps: 16
rotation_distance: 22.5655  #has to calibrate
gear_ratio: 50:10
full_steps_per_rotation: 200
nozzle_diameter: 0.400
filament_diameter: 1.750
heater_pin: PA1
#sensor_type: ATC Semitec 104GT-2 #most V6 Clones
sensor_type: ATC Semitec 104NT-4-R025H42G #revo micro
sensor_pin: PC4
min_temp: 10
max_temp: 300
max_extrude_cross_section: 50.0
pressure_advance: 0.042
pressure_advance_smooth_time: 0.04

############################################
# Features
############################################

[exclude_object]

[gcode_arcs]
resolution: 0.5
#   An arc will be split into segments. Each segment's length will
#   equal the resolution in mm set above. Lower values will produce a
#   finer arc, but also more work for your machine. Arcs smaller than
#   the configured value will become straight lines. The default is
#   1mm.


[firmware_retraction]
retract_length: 1
#   The length of filament (in mm) to retract when G10 is activated,
#   and to unretract when G11 is activated (but see
#   unretract_extra_length below). The default is 0 mm.
retract_speed: 20
#   The speed of retraction, in mm/s. The default is 20 mm/s.
#unretract_extra_length: 0
#   The length (in mm) of *additional* filament to add when
#   unretracting.
unretract_speed: 10
#   The speed of unretraction, in mm/s. The default is 10 mm/s.


############################################
# FANS
############################################

[heater_fan extruder_fan]
pin: PB1

[fan]
pin: PA0

[temperature_fan Mainboard]
pin: mcu:PA14
sensor_type: temperature_mcu
max_power: 1.0
shutdown_speed: 1.0
hardware_pwm: false
kick_start_time: 0.5
off_below: 0.4
max_temp: 100
min_temp: 20
target_temp: 50
max_speed: 1.0
min_speed: 0.3
control: pid
pid_Kp: 1
pid_Ki: 1
pid_Kd: 1

############################################
# Heatbed & Mesh
############################################

[heater_bed]
heater_pin: PA4
sensor_type: EPCOS 100K B57560G104F
sensor_pin: PB0
min_temp: 0
max_temp: 120

[bed_mesh]
speed: 180
horizontal_move_z: 6
mesh_min: 10,13
mesh_max: 240, 240
probe_count: 12,12
mesh_pps: 2,2
algorithm: bicubic

############################################
# Z_TILT
############################################

[z_tilt]
z_positions:
    -36,125
    278,125
points:
    10,116
    235,116
speed: 300
horizontal_move_z: 7
retries: 10
retry_tolerance: 0.02


############################################
# LEDS
############################################

[neopixel sb_leds]
pin: PA13
chain_count: 3
color_order: GRBW #SK6812 (Options are GRBW or RGBW)
#color_order: GRB #WS2812B (Options are GRB,RGB, BRG, BGR)
initial_RED: 0.0
initial_GREEN: 0.0
initial_BLUE: 0.0
initial_WHITE: 0.0

[delayed_gcode Welcome]
initial_duration: 1.0
gcode:
    SET_LED LED=sb_leds RED=0.0 GREEN=1.0 BLUE=0.0 WHITE=0.0 INDEX=1 TRANSMIT=0
    SET_LED LED=sb_leds RED=0.0 GREEN=1.0 BLUE=0.0 WHITE=1.0 INDEX=2 TRANSMIT=0
    SET_LED LED=sb_leds RED=0.0 GREEN=1.0 BLUE=0.0 WHITE=1.0 INDEX=3 TRANSMIT=1

############################################
# sonstiges
############################################

[filament_switch_sensor runout]
pause_on_runout: True
switch_pin: PA5

#[output_pin beeper_pin]
#pin: PB15
#pwm: True
#value: 0
#shutdown_value: 0
#cycle_time: 0.001

[pwm_cycle_time beeper_pin]
pin: PB15
value: 0
shutdown_value: 0
cycle_time: 0.001

[temperature_sensor Raspi]
sensor_type: temperature_host
min_temp: 0
max_temp: 100

############################################
# MCU & Printer
############################################

[mcu]
serial: /dev/ttyUSB0
restart_method: command

[printer]
kinematics: cartesian
max_velocity: 300
max_accel: 1000            
max_z_velocity: 5
max_z_accel: 100
minimum_cruise_ratio: 0.6

#*# <---------------------- SAVE_CONFIG ---------------------->
#*# DO NOT EDIT THIS BLOCK OR BELOW. The contents are auto-generated.
#*#
#*# [heater_bed]
#*# control = pid
#*# pid_kp = 68.801
#*# pid_ki = 1.210
#*# pid_kd = 977.830
#*#
#*# [extruder]
#*# control = pid
#*# pid_kp = 38.397
#*# pid_ki = 5.565
#*# pid_kd = 66.235
#*#
#*# [bed_mesh default]
#*# version = 1
#*# points =
#*# 	  0.628324, 0.709574, 0.805824, 0.892074, 0.982074, 1.005824, 1.042074, 1.000824, 0.972074, 0.895824, 0.790824, 0.708324
#*# 	  0.488324, 0.623324, 0.702074, 0.814574, 0.862074, 0.917074, 0.920824, 0.912074, 0.862074, 0.817074, 0.677074, 0.583324
#*# 	  0.393324, 0.504574, 0.600824, 0.709574, 0.763324, 0.783324, 0.800824, 0.790824, 0.737074, 0.662074, 0.562074, 0.454574
#*# 	  0.292074, 0.387074, 0.515824, 0.582074, 0.652074, 0.688324, 0.697074, 0.668324, 0.622074, 0.554574, 0.428324, 0.338324
#*# 	  0.188324, 0.319574, 0.414574, 0.503324, 0.563324, 0.598324, 0.613324, 0.577074, 0.535824, 0.445824, 0.319574, 0.239574
#*# 	  0.114574, 0.224574, 0.335824, 0.427074, 0.487074, 0.490824, 0.509574, 0.484574, 0.430824, 0.329574, 0.194574, 0.114574
#*# 	  0.020824, 0.142074, 0.235824, 0.345824, 0.409574, 0.422074, 0.430824, 0.403324, 0.337074, 0.250824, 0.104574, 0.002074
#*# 	  -0.126676, -0.017926, 0.119574, 0.243324, 0.292074, 0.339574, 0.353324, 0.308324, 0.264574, 0.162074, 0.025824, -0.079176
#*# 	  -0.262926, -0.135426, 0.015824, 0.150824, 0.223324, 0.272074, 0.294574, 0.245824, 0.175824, 0.105824, -0.052926, -0.142926
#*# 	  -0.414176, -0.259176, -0.109176, 0.028324, 0.102074, 0.164574, 0.203324, 0.153324, 0.113324, 0.018324, -0.120426, -0.207926
#*# 	  -0.594176, -0.432926, -0.261676, -0.116676, -0.007926, 0.039574, 0.095824, 0.082074, 0.040824, -0.045426, -0.185426, -0.261676
#*# 	  -0.766676, -0.614176, -0.449176, -0.265426, -0.137926, -0.051676, -0.004176, 0.037074, -0.014176, -0.122926, -0.244176, -0.310426
#*# x_count = 12
#*# y_count = 12
#*# mesh_x_pps = 2
#*# mesh_y_pps = 2
#*# algo = bicubic
#*# tension = 0.2
#*# min_x = 10.0
#*# max_x = 239.89999999999998
#*# min_y = 13.0
#*# max_y = 239.92999999999995
#*#
#*# [bltouch]
#*# z_offset = 1.786
